<strong>Olá {{ deliveryman }}</strong>
<p>Voce tem uma nova entrega disponivel para retirada!</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Nome do Destinatario: </strong> {{ name }} <br />
  <strong>Rua: </strong> {{ street }} <br />
  <strong>Número: </strong> {{ number }} <br />
  <strong>Complemento: </strong> {{ comp }} <br />
  <strong>Estado: </strong> {{ state }} <br />
  <strong>Cidade: </strong> {{ city }} <br />
  <strong>CEP: </strong> {{ cep }} <br />
  <br />
  <small>
    Voce pode fazer a retirada do produto entre as 8:00 e 18:00 horas.
  </small>
</p>